
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @team do |f| %>
        <%= render 'teams/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :stadium %>
        <%= f.text_field :stadium, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :telephone %>
        <%= f.telephone_field :telephone, class: 'form-control' %>

        <%= f.submit class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>
