
<%= form_for @team, html: { class: "ui form" } do |f| %>

    <%= render 'teams/error_messages' %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Name', autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :stadium %>
      <%= f.text_field :stadium,  placeholder: 'Stadium', autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address,  placeholder: 'Address', autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :telephone %>
      <%= f.telephone_field :telephone,  placeholder: 'Telephone', autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :pitch_type %>
      <%= f.text_field :pitch_type,  placeholder: 'Pitch Type', autocomplete: 'off' %>
    </div>

    <%= f.submit class: 'ui right floated primary button' %>

<% end %>
