
<table class="ui selectable striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stadium</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Pitch Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.stadium %></td>
        <td><%= team.address %></td>
        <td><%= team.telephone %></td>
        <td><%= team.pitch_type %></td>
        <td class="center aligned"><%= link_to "Show", team_path(team), class: 'ui small teal button' %></td>
        <td class="center aligned"><%= link_to "Edit", edit_team_path(team), class: 'ui small yellow button' %></td>
        <td class="center aligned"><%= link_to "Remove", team_path(team), method: :delete, data: { confirm: "Are you sure?" }, class: 'ui small red button' %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot class="full-width">
  <tr>
    <th colspan="8">
      <%= link_to "Add Team", new_team_path, class: 'ui left floated small primary button' %>
    </th>
  </tr>
  </tfoot>
</table>

<%= paginate @teams %>