
<table class="table table-responsive">

  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th>Stadio</th>
    <th>Indirizzo</th>
    <th>Telefono</th>
    <th>Campo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><img style="height: 2em;" src="<%= team.avatar_url %>"></td>
        <td><%= team.name %></td>
        <td><%= team.stadium %></td>
        <td><%= team.address %></td>
        <td><%= team.telephone %></td>
        <td><%= team.pitch_type %></td>
        <td><%= link_to "Show", team_path(team) %></td>
        <td><%= link_to "Edit", edit_team_path(team) %></td>
        <td><%= link_to "Remove", team_path(team), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @teams %>

<br>

<%= link_to "Add Team", new_team_path %>