
<p>
  <strong>Name</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Stadium</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Address</strong>
  <%= @team.address %>
</p>

<p>
  <strong>Telephone</strong>
  <%= @team.telephone %>
</p>

<p>
  <strong>Pitch Type</strong>
  <%= @team.pitch_type %>
</p>

<%= link_to 'Back', teams_path %>
