<h1>Teams#show</h1>
<p>
  <strong></strong>
  <%= @team.name %>
</p>

<p>
  <strong></strong>
  <%= @team.stadium %>
</p>

<p>
  <strong></strong>
  <%= @team.foundation_year %>
</p>

<p>
  <strong></strong>
  <%= @team.telephone %>
</p>

<%= link_to 'Back', teams_path %>
