
<%=  form_for(:session, url: login_path, html: { class: 'ui form' })  do |f| %>

    <%= content_tag :div, class: 'field' do %>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Name', autocomplete: 'off' %>
    <% end %>

    <%= content_tag :div, class: 'field' do %>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Password', autocomplete: 'off' %>
    <% end %>

    <div class='ui center aligned container'>
      <%= f.submit 'Log In', class: 'ui button green' %>
    </div>

<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>