
<%= form_tag(rankings_path, :method => "get") do %>
    <%= select_tag :season_id, options_from_collection_for_select(Season.all, :id, :name, params[:season_id]), include_blank: false %>
    <%= submit_tag 'Ricerca', { class: 'btn btn-primary' } %>
<% end %>

<br>

<table class="table table-responsive-md">
  <thead>
  <tr>
    <th></th>
    <th>Squadra</th>
    <th>PG</th>
    <th>V</th>
    <th>N</th>
    <th>P</th>
    <th>GF</th>
    <th>GS</th>
    <th>DR</th>
    <th>PTI</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><img style="height: 2em;" src="<%= ranking.team.avatar_url %>"></td>
        <td><%= ranking.team.name %></td>
        <td><%= ranking.games %></td>
        <td><%= ranking.victories %></td>
        <td><%= ranking.draws %></td>
        <td><%= ranking.defeats %></td>
        <td><%= ranking.goals_scored %></td>
        <td><%= ranking.goals_suffered %></td>
        <td><%= ranking.goals_difference %></td>
        <td><%= ranking.points %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', ranking %></td>
          <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
          <td><%= link_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Ranking', new_ranking_path %>
<% end %>
