
<% breadcrumb :admin_players, @players %>

<br>
<br>

<table class="ui selectable striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthday</th>
      <th>Role</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.surname %></td>
        <td><%= player.birthday %></td>
        <td><%= player.role %></td>
        <td><%= player.team.name %></td>
        <td class="center aligned"><%= link_to "Show", admin_player_path(player), class: 'ui teal button' %></td>
        <td class="center aligned"><%= link_to "Edit", edit_admin_player_path(player), class: 'ui yellow button' %></td>
        <td class="center aligned"><%= link_to "Remove", admin_player_path(player), method: :delete, data: { confirm: "Are you sure?" }, class: 'ui red button' %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="8">
        <%= link_to "Add Player", new_admin_player_path, class: 'ui left floated primary button' %>
      </th>
    </tr>
  </tfoot>
</table>

<%= paginate @players %>



