<% breadcrumb :admin_player, @player %>

<br>
<br>

<p>
  <strong>Name</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Surname</strong>
  <%= @player.surname %>
</p>

<p>
  <strong>Birthday</strong>
  <%= @player.birthday %>
</p>

<p>
  <strong>Role</strong>
  <%= @player.role %>
</p>

<p>
  <strong>Team</strong>
  <%= @player.team.name %>
</p>

<%= link_to 'Back', admin_players_path, class: 'ui left floated button' %>
