
<%=  form_for(@user, url: signup_path, html: { class: (@user.errors.any? ? 'ui form error' : 'ui form'), multipart: true })  do |f| %>

    <%= render 'users/error_messages' %>

    <%= content_tag :div, class: 'field' do %>
        <%= f.label :avatar %>
        <%= image_tag(@user.avatar_url, class: 'ui tiny circular image') %>
        <br>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
    <% end %>

    <%= content_tag :div, class: (@user.errors[:name].any? ? 'field error' : 'field') do %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Name', autocomplete: 'off' %>
    <% end %>

    <%= content_tag :div, class: (@user.errors[:email].any? ? 'field error' : 'field') do %>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Email', autocomplete: 'off'  %>
    <% end %>

    <%= content_tag :div, class: (@user.errors[:password].any? ? 'field error' : 'field') do %>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Password', autocomplete: 'off'  %>
    <% end %>

    <%= content_tag :div, class: (@user.errors[:password_confirmation].any? ? 'field error' : 'field') do %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: 'off'  %>
    <% end %>

    <div class='ui center aligned container'>
      <%= f.submit 'Create Account', class: 'ui orange button' %>
    </div>

<% end %>