
<div class="row">
    <div class="col-sm-6">
      <div class="card text-center" style="margin-top: 10px;">
        <div class="card-header">
          Prossima partita
        </div>
        <div class="card-body">
          <% if @next_event.blank? %>
              <p class="card-text">Nessun evento in programma</p>
          <% else %>
              <img style="height: 2em;" src="<%= @next_event.local_team.avatar_url %>" class="rounded float-left">
              <img style="height: 2em;" src="<%= @next_event.away_team.avatar_url %>" class="rounded float-right">
              <h4 class="card-title"><%= @next_event.local_team.name %> - <%= @next_event.away_team.name %></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= @next_event.local_team.stadium %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><%= @next_event.local_team.address %></h6>
              <p class="card-text"><%= @next_event.event_date.strftime("%d/%m/%Y %H:%M") %></p>
          <% end %>
          <%= link_to t('events'), events_path, class: 'btn btn-primary' %>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="card text-center" style="margin-top: 10px;">
      <div class="card-header">
        Ultima partita
      </div>
      <div class="card-body">
        <% if @last_event.blank? %>
            <p class="card-text">Nessun evento in programma</p>
        <% else %>
            <img style="height: 2em;" src="<%= @last_event.local_team.avatar_url %>" class="rounded float-left">
            <img style="height: 2em;" src="<%= @last_event.away_team.avatar_url %>" class="rounded float-right">
            <h4 class="card-title"><%= @last_event.local_team.name %> - <%= @last_event.away_team.name %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= @last_event.local_team.stadium %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= @last_event.local_team.address %></h6>
            <p class="card-text"><%= @last_event.local_team_goals %> - <%= @last_event.away_team_goals %></p>
        <% end %>
        <%= link_to t('events'), events_path, class: 'btn btn-primary' %>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card text-center" style="margin-top: 10px;">
      <div class="card-header">
        Classifica
      </div>
      <div class="card-body">
        <% if @actual_ranking.blank? %>
            <p class="card-text">Classifica non disponibile</p>
        <% else %>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th></th>
                  <th>Squadra</th>
                  <th>PG</th>
                  <th>V</th>
                  <th>N</th>
                  <th>P</th>
                  <th>PTI</th>
                </tr>
              </thead>
              <tbody>
              <% @actual_ranking.each do |ranking| %>
                    <% if ranking.team.name == 'Girone' %>
                        <tr class="table-success">
                    <% else %>
                        <tr>
                    <% end %>
                    <td><img style="height: 2em;" src="<%= ranking.team.avatar_url %>"></td>
                    <td><%= ranking.team.name %></td>
                    <td><%= ranking.games %></td>
                    <td><%= ranking.victories %></td>
                    <td><%= ranking.draws %></td>
                    <td><%= ranking.defeats %></td>
                    <td><%= ranking.points %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
        <%= link_to t('rankings'), rankings_path, class: 'btn btn-primary' %>
      </div>
      <div class="card-footer text-muted">
        <%= paginate @actual_ranking %>
      </div>
    </div>
  </div>
</div>