
<%= form_for(@player, html: { class: "ui form error" }) do |f| %>

    <%= render 'players/error_messages' %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.label :surname %>
      <%= f.text_field :surname, placeholder: 'Surname' %>
    </div>

    <div class="field">
      <%= f.label :birthday %>
      <%= f.text_field :birthday, placeholder: 'Birthday', id: "player_birthday" %>
    </div>

    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role, placeholder: 'Role' %>
    </div>

    <div class="field">
      <%= f.label :team_id %>
      <%= f.collection_select :team_id, Team.all, :id, :name, { prompt: true }, { class: 'ui search selection dropdown' } %>
    </div>

    <%= f.submit class: 'ui right floated primary button' %>

<% end %>
