
<%= form_for [:admin, @team], html: { class: "ui form" } do |f| %>

    <%= render 'admin/teams/error_messages' %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.label :stadium %>
      <%= f.text_field :stadium,  placeholder: 'Stadium' %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address,  placeholder: 'Address' %>
    </div>

    <div class="field">
      <%= f.label :telephone %>
      <%= f.telephone_field :telephone,  placeholder: 'Telephone' %>
    </div>

    <div class="field">
      <%= f.label :pitch_type %>
      <%= f.text_field :pitch_type,  placeholder: 'Pitch Type' %>
    </div>

    <%= f.submit class: 'ui right floated primary button' %>

<% end %>
