<div class="ui small breadcrumb">
  <a class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a class="active section">Teams</a>
</div>

<br>
<br>

<%= form_tag(admin_teams_path, :method => "get", id: 'search-form', enforce_utf8: false) do %>
  <div class="ui search">
    <div class="ui icon input">
      <%= text_field_tag :search, params[:search], placeholder: 'Search Teams...', class: 'prompt' %>
      <i class="search icon"></i>
    </div>
    <%= submit_tag "Search", :name => nil, class: 'ui small green button' %>
  </div>
<% end %>

<br>

<% if @teams.blank? %>
    <h4>There are no teams containing the term <%= params[:search] %></h4>
<% else %>
    <%= render 'admin/teams/team' %>
<% end %>
