<div class="ui small breadcrumb">
  <a class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a class="active section">Teams</a>
  <i class="right angle icon divider"></i>
  <a class="active section">Show</a>
</div>

<br>
<br>

<p>
  <strong>Name</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Stadium</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Address</strong>
  <%= @team.address %>
</p>

<p>
  <strong>Telephone</strong>
  <%= @team.telephone %>
</p>

<p>
  <strong>Pitch Type</strong>
  <%= @team.pitch_type %>
</p>

<%= link_to 'Back', admin_teams_path, class: 'ui left floated button' %>
