<div class="ui top fixed small menu">

  <div class="header item">Girone Web</div>

  <%= link_to root_path, class: 'item' do %>
      <i class="home icon"></i> Home
  <% end %>

  <div class="ui dropdown item">
    <i class="settings icon"></i> Admin
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to teams_path, class: 'item' do %>
          Teams
      <% end %>
      <%= link_to players_path, class: 'item' do %>
          Players
      <% end %>
    </div>
  </div>

  <div class="right menu">
    <div class="item">
      <%= link_to 'Sign Up', signup_path, class: 'ui primary button' %>
    </div>
    <% if logged_in? %>
        <div class="item">
          <%= link_to 'Log Out', logout_path, method: :delete, class: 'ui red button' %>
        </div>
    <% else %>
        <div class="item">
          <%= link_to 'Log In', login_path, class: 'ui green button' %>
        </div>
    <% end %>
  </div>
</div>